<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FarsiTech</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-0">
            <div class="container bg-dark" dir="rtl">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <div class="card">
                        <img src="~/DangerDog.jpg" class="card-img" style="width: 50px; height: 50px;" />
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item mr-sm-1">
                            <a class="nav-link text-light btn btn-info" asp-area="" asp-controller="Home" asp-action="Index">صفحه ی اصلی</a>
                        </li>
                        <li class="nav-item dropdown mr-sm-1">
                            <a class="nav-link dropdown-toggle text-light btn btn-info" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                مطالب
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item text-center" asp-area="" asp-controller="Home" asp-action="TechArticles">مقاله های تکنولوژی</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-center" asp-area="" asp-controller="Home" asp-action="GameArticles">مقاله های بازی های کامپیوتری</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-center" asp-area="" asp-controller="Home" asp-action="MyApps">محصولات</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-center" asp-area="" asp-controller="Home" asp-action="Survey">نقد و بررسی</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-center" asp-area="" asp-controller="Home" asp-action="SurveyRace" title="برای نظر سنجی باید ثبت نام کنید">نظر سنجی</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-center" asp-area="" asp-controller="Home" asp-action="introduce">معرفی</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-center" asp-area="" asp-controller="Home" asp-action="tutorial">آموزش</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-center" asp-area="" asp-controller="Home" asp-action="News">اخبار سایت</a>
                            </div>
                        </li>
                        <li class="nav-item mr-sm-1">
                            <a class="nav-link text-light btn btn-info" asp-area="" asp-controller="Home" asp-action="Privacy">درباره ی ما</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial.cshtml" />
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2 ml-sm-1" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">جستجو</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid pr-0 pl-0">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container text-center">
            &copy; 2021 - FarsiTech - <a asp-area="" asp-controller="Home" asp-action="Privacy">درباره ی ما</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
