@{
    ViewData["Title"] = "فارسی تک";
}

<div class="container-fluid p-5 mb-5" style="
        background: url('/Code1.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        ">
    <h1 class="cp" style="float: left;
        font-family: Dancing Script, Verdana, Geneva, Verdana, sans-serif;
        font: bolder;
        font-size: 40px;">
        FarsiTech
    </h1>
    <p style="font: bold; font-family: Yagut-s,'B Titr'; color: #5bc0de; text-align: right; font-size: 30px;">
        یادگیری و سرگرمی با تکنولوژی
    </p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <div class="card" dir="rtl">
                <p class="card-title text-center align-middle" style=" font-weight: bold; font-size: 24px; font-family: Arial, Helvetica, sans-serif; ">
                    توجه : ویدیو زیر به علت فیلتر بودن یوتیوب ، فیلتر است
                </p>
                <div class="container" style="padding-top: 15px;">
                    <a href="https://www.youtube.com/embed/RJ_ecW5Llc0" target="_blank">
                        <img class="card-img-top" src="https://lh3.googleusercontent.com/BxE228rz6MbxDGo3xaXX-5_mCMS62yRft92LXT4Tiiiu1-5uMR95r_RCxzqxrVB1ocFmQRBE_zqJtQQSgyB7U5jyVWjSn0QluX8zipjQ7YX3-XH8wXPyPJ93hQM1V-97BLUj16wpVg=w600-h315-p-k" />
                    </a>
                </div>
                <div class="container" style="padding-top: 5px; padding-bottom: 5px;">
                    <p class="card-title text-right align-middle" style=" font-weight: bold; font-size: 24px; font-family: Arial, Helvetica, sans-serif; ">
                        آموزش Html & Css : پارت 1 آشنایی
                    </p>
                    <p class="card-text text-right align-middle" style=" font-family: Arial, Helvetica, sans-serif; ">
                        به سری آموزشی طراحی وب خوش آمدید تو این سری قراره که Html و Css یاد بگیرین و تو این قسمت با Html و Css و محیط VSCode آشنا میشین .
                    </p>
                </div>
                <a class="btn btn-primary text-light" href="https://www.youtube.com/watch?v=RJ_ecW5Llc0&t=4s" target="_blank">بازدید از ویدیو</a>
            </div>
            <br />
            <div class="card" dir="rtl">
                <p class="card-title text-center align-middle" style=" font-weight: bold; font-size: 24px; font-family: Arial, Helvetica, sans-serif; ">
                    توجه : ویدیو زیر به علت فیلتر بودن یوتیوب ، فیلتر است
                </p>
                <div class="container" style="padding-top: 15px;">
                    <a href="https://www.youtube.com/embed/EtFgJ8_jtWE" target="_blank">
                        <img class="card-img-top" src="https://lh3.googleusercontent.com/KASf1iw1fWwq-Ydi3_rQO2pAFUr-97TPMxUyo0d2WSdYcckVPimUrEnvQyTpSximVxS9OAZTtAOkHVkoHreQdLrLBQeWqIh1n_I-Z3ZL7C-wE5LnNE62tG7wj53c6Wo-2B0RkpleeA=w600-h315-p-k" />
                    </a>
                </div>
                <div class="container" style="padding-top: 5px; padding-bottom: 5px;">
                    <p class="card-title text-right align-middle" style=" font-weight: bold; font-size: 24px; font-family: Arial, Helvetica, sans-serif; ">
                        آموزش پریمیر : دی نویز و کم و زیاد کردن صدا
                    </p>
                    <p class="card-text text-right align-middle" style=" font-family: Arial, Helvetica, sans-serif; ">
                        تو این ویدیو قراره دی نویز و کم و زیاد کردن صدا رو یاد بگیرین .
                        🔊🔉
                        حتما ادامه سری آموزشی adobe premiere دنبال کنید
                    </p>
                </div>
                <a class="btn btn-primary text-light" href="https://www.youtube.com/watch?v=EtFgJ8_jtWE&t=21s" target="_blank">بازدید از ویدیو</a>
            </div>
            <br />
            @*<div class="card" dir="rtl">
                    <div  class="container" style="padding-top: 15px;">
                        <a href="https://youtu.be/jneDYsYjIck">
                            <img class="card-img-top" src="~/CSCAL_1.png" />
                        </a>
                    </div>
                    <div class="container">
                        <p class="card-title text-right align-middle" style=" font-weight: bold; font-size: 24px; font-family: Arial, Helvetica, sans-serif; ">
                            ساخت ماشین حساب با زبان برنامه نویسی #C
                        </p>
                        <p class="card-text text-right align-middle" style=" font-family: Arial, Helvetica, sans-serif; ">
                            در این ویدیو شما یاد می گیرید که چطور با زبان برنامه نویسی C# و (.NetCore) یک ماشین حساب ویندوز فرم بسازید .
                        </p>
                        <p class="card-text text-left align-middle" style=" font-family: Arial, Helvetica, sans-serif; " dir="ltr">
                            لینک دانلود کد ها :  <a class="btn btn-info" href="https://mega.nz/file/FV9ijSLQ#NFfbVHpvcJ7ZqHxzIjHCQbUcNmNIsj3H9z2IpYHbaEM" target="_blank">دانلود</a>
                        </p>
                        <p class="card-text text-left align-middle" style=" font-family: Arial, Helvetica, sans-serif; " dir="ltr">
                            لینک وب سایت : www.farsitechnology.com
                        </p>
                        <br />
                    </div>
                    <a class="btn btn-primary text-light" href="https://youtu.be/jneDYsYjIck" target="_blank">بازدید از ویدیو</a>
                </div>*@
        </div>
        <div class="col-sm-3">
            <div class="card">
                <a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="Index">مطالب اخیر</a>
            </div>
            <div class="card mt-1">
                <a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="MyApps">محصولات</a>
            </div>
            <div class="card mt-1">
                <a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="SurveyRace" title="برای نظر سنجی باید ثبت نام کنید">نظر سنجی</a>
            </div>
            <div class="card mt-1">
                <a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="introduce">معرفی</a>
            </div>
            <div class="card text-center mt-2" style="background-color:rgb(255 255 255 / 0.20);">
                <a href="https://parscoders.com/?ref=260211"><img src="https://parscoders.com/banner/120x180.gif" alt="پارسکدرز اولین بازار کار آنلاین ایران" title="پارسکدرز اولین بازار کار آنلاین ایران"></a>
            </div>
        </div>
    </div>
</div>

