@{
    ViewData["Title"] = "Privacy Policy";
}
<!--<h1>@ViewData["Title"]</h1>-->

<div class="container-fluid p-5 mb-5" style="
        background: url('/Code1.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        ">
    <h1 class="cp" style="float: left;
        font-family: Dancing Script, Verdana, Geneva, Verdana, sans-serif;
        font: bolder;
        font-size: 40px;">
        FarsiTech
    </h1>
    <p style="font: bold; font-family: Yagut-s,'B Titr'; color: #5bc0de; text-align: right; font-size: 30px;">
        یادگیری و سرگرمی با تکنولوژی
    </p>
</div>

<div class="container" dir="rtl">
    <div class="form-row">
        <div class="col-md-12">
            <h1 class="text-lg-right text-dark">درباره ی ما</h1>
            <p class="text-md-right text-dark">
                به وبسایت "FarsiTech" خوش آمدید ما در این وب سایت مقاله هایی
                درباره ی تکنولوژی ، بازی های کامپیوتری و ویدیو های آموزشی می گذاریم، همچنین در این سایت محصولات اندروید
                خود را نیز معرفی می کنیم. در ضمن به کانل یوتیوب ما نیز سر بزنید و ما را در یوتیوب
                سابسکرایب کنید
            </p>
            <p class="text-md-right text-dark">
                برای بازدید از کانال یوتیوب ما <a href="https://www.youtube.com/channel/UCoJNmBSSHaFgxbSgNuUwGww" target="_blank">اینجا </a>
                کلیک کنید
            </p>
            <p class="text-md-right text-dark"><a href="mailto:parham.slim79@gmail.com" target="_blank">FarsiTech</a> : آدرس ایميل ما </p>
        </div>
    </div>
</div>
