@page
@model FarsiTech.Views.Home.SurveyModel
@{
}

<div class="container-fluid p-5 mb-5" style="
        background: url('/Code1.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        ">
    <h1 class="cp" style="float: left;
        font-family: Dancing Script, Verdana, Geneva, Verdana, sans-serif;
        font: bolder;
        font-size: 40px;">
        FarsiTech
    </h1>
    <p style="font: bold; font-family: Yagut-s,'B Titr'; color: #5bc0de; text-align: right; font-size: 30px;">
        یادگیری و سرگرمی با تکنولوژی
    </p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <div class="card">
                <p class="card-text text-center align-middle">هنوز مطلبی گذاشته نشده است</p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="Index">مطالب اخیر</a>
            </div>
            <div class="card mt-1">
                <a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="MyApps">محصولات</a>
            </div>
            <div class="card mt-1">
                <a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="SurveyRace" title="برای نظر سنجی باید ثبت نام کنید">نظر سنجی</a>
            </div>
            <div class="card mt-1">
                <a class="btn btn-info" asp-area="" asp-controller="Home" asp-action="introduce">معرفی</a>
            </div>
            <div class="card text-center mt-2" style="background-color:rgb(255 255 255 / 0.20);">
                <a href="https://parscoders.com/?ref=260211"><img src="https://parscoders.com/banner/120x180.gif" alt="پارسکدرز اولین بازار کار آنلاین ایران" title="پارسکدرز اولین بازار کار آنلاین ایران"></a>
            </div>
        </div>
    </div>
</div>